.navigation {
	height: 70px;
	display: flex;
	justify-content: end;
	padding: 0 20px;
	//background-color: rgb(214, 163, 35);
	//background-color: #abdaf8;
	position: relative;
	margin: 9px 0 0;

	.nav-links-container {
		width: calc(50% - 42.5px);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		//background-color: rgb(77, 35, 214);

		.nav-link {
			padding: 10px 15px;
			cursor: pointer;
		}
	}

	.logo-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 85px;
	}

	.logo {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.nav-spacer {
		width: calc(50% - 42.5px); // 50% minus halbe Logo-Breite
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
